<body>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Add Banner</h2>
        <p></p>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="col-md-12">
          <form action="/admin/editBanner/{{banner._id}}" method="POST">
            <label for="subHeading">Sub Heading </label>
            <input type="text" name="subHeading" class="form-control" id="subHeading" onblur="namecheck()" value="{{banner.subHeading}}"  />
            <label id="nmlabel" for="name" style="display: none; color:red;">This field is
              required</label>
            <label id="nmlabel-01" for="name" style="display: none; color:red;">Name doesn't start
              with a number</label>
            <label id="nmlabel-02" for="name" style="display: none; color:red;">Name doesn't contain
              special characters</label>


               <label for="mainHeading">Main Heading </label>
            <input type="text" name="mainHeading" class="form-control" id="mainHeading" onblur="namecheck()" value="{{banner.mainHeading}}"/>
            <label id="nmlabel" for="name" style="display: none; color:red;">This field is
              required</label>
            <label id="nmlabel-01" for="name" style="display: none; color:red;">Name doesn't start
              with a number</label>
            <label id="nmlabel-02" for="name" style="display: none; color:red;">Name doesn't contain
              special characters</label>





               <label for="content">Content </label>
            <input type="text" name="content" class="form-control" id="content" onblur="namecheck()" value="{{banner.content}}"/>
            <label id="nmlabel" for="name" style="display: none; color:red;">This field is
              required</label>
            <label id="nmlabel-01" for="name" style="display: none; color:red;">Name doesn't start
              with a number</label>
            <label id="nmlabel-02" for="name" style="display: none; color:red;">Name doesn't contain
              special characters</label>




               <label for="tagline_01">Tagline 01  </label>
            <input type="text" name="tagline_01" class="form-control" id="tagline_01" onblur="namecheck()" value="{{banner.tagline_01}}" />
            <label id="nmlabel" for="name" style="display: none; color:red;">This field is
              required</label>
            <label id="nmlabel-01" for="name" style="display: none; color:red;">Name doesn't start
              with a number</label>
            <label id="nmlabel-02" for="name" style="display: none; color:red;">Name doesn't contain
              special characters</label>




              <label for="tagline_02">Tagline 02 </label>
            <input type="text" name="tagline_02" class="form-control" id="tag-line_02" onblur="namecheck()" value="{{banner.tagline_02}}"/>
            <label id="nmlabel" for="name" style="display: none; color:red;">This field is
              required</label>
            <label id="nmlabel-01" for="name" style="display: none; color:red;">Name doesn't start
              with a number</label>
            <label id="nmlabel-02" for="name" style="display: none; color:red;">Name doesn't contain
              special characters</label>

          
           


            <label for="bannerEditimage">Image</label>
            <img src="/uploads/{{this.banner.image}}"  alt="" style="width: 100px; height:auto  " id="imgView" class="pt-3">
            <input type="file" class="form-control" name="bannerEditimage" onchange="viewImage(event)" >
  
            <input type="hidden" name="image" value="{{this.banner.image}}">

            
            <button type="submit" class="btn btn-success mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
<script>
  function viewImage(event) {
    document.getElementById('imgView').src = event.target = URL.createObjectURL(event.target.files[0])
  }
  function viewImage1(event) {
    document.getElementById('imgView1').src = event.target = URL.createObjectURL(event.target.files[0])
  }
  function viewImage2(event) {
    document.getElementById('imgView2').src = event.target = URL.createObjectURL(event.target.files[0])
  }
  function viewImage3(event) {
    document.getElementById('imgView3').src = event.target = URL.createObjectURL(event.target.files[0])
  }


  function namecheck() {
    let name = document.getElementById("name").value
    let nm = null
    nm = name.trim()
    var letters = /^[A-Za-z]+$/;
    var spc = /^[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+[A-Za-z]*$/;
    document.getElementById("name").value = nm;
    if (nm == "" || name == null) {
      document.getElementById("nmlabel").style.display = "block"
      return false
    }
    else if (!isNaN(nm[0])) {
      document.getElementById("nmlabel").style.display = "none"
      document.getElementById("nmlabel-01").style.display = "block"
      return false
    }
    else if (nm.match(spc)) {
      document.getElementById("nmlabel").style.display = "none"
      document.getElementById("nmlabel-01").style.display = "none"
      document.getElementById("nmlabel-02").style.display = "block"
      return false
    }
    else {
      document.getElementById("nmlabel").style.display = "none"
      document.getElementById("nmlabel-01").style.display = "none"
      document.getElementById("nmlabel-02").style.display = "none"
      return true

    }
  }

  function pricecheck() {
    let name = document.getElementById("price").value
    let nm = null
    nm = name.trim()
    var letters = /^[A-Za-z]+$/;
    var spc = /^[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+[A-Za-z]*$/;
    document.getElementById("price").value = nm;
    if (nm == "" || name == null) {
      document.getElementById("prlabel").style.display = "block"
      return false
    }
    else if (isNaN(nm[0])) {
      document.getElementById("prlabel").style.display = "none"
      document.getElementById("prlabel-01").style.display = "block"
      return false
    }
    else if (nm.match(spc)) {
      document.getElementById("prlabel").style.display = "none"
      document.getElementById("prlabel-01").style.display = "none"
      document.getElementById("prlabel-02").style.display = "block"
      return false
    }
    else {
      document.getElementById("prlabel").style.display = "none"
      document.getElementById("prlabel-01").style.display = "none"
      document.getElementById("prlabel-02").style.display = "none"
      return true

    }
  }


  function descriptioncheck() {
    let name = document.getElementById("description").value
    let nm = null
    nm = name.trim()
    var letters = /^[A-Za-z]+$/;
    var spc = /^[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+[A-Za-z]*$/;
    document.getElementById("description").value = nm;
    if (nm == "" || name == null) {
      document.getElementById("dslabel").style.display = "block"
      return false
    }
    else if (!isNaN(nm[0])) {
      document.getElementById("dslabel").style.display = "none"
      document.getElementById("dslabel-01").style.display = "block"
      return false
    }
    else if (nm.match(spc)) {
      document.getElementById("dslabel").style.display = "none"
      document.getElementById("dslabel-01").style.display = "none"
      document.getElementById("dslabel-02").style.display = "block"
      return false
    }
    else {
      document.getElementById("dslabel").style.display = "none"
      document.getElementById("dslabel-01").style.display = "none"
      document.getElementById("dslabel-02").style.display = "none"
      return true

    }
  }


  function quantitycheck() {
    let name = document.getElementById("quantity").value
    let nm = null
    nm = name.trim()
    var letters = /^[A-Za-z]+$/;
    var spc = /^[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+[A-Za-z]*$/;
    document.getElementById("quantity").value = nm;
    if (nm == "" || name == null) {
      document.getElementById("qtlabel").style.display = "block"
      return false
    }
    else if (isNaN(nm[0])) {
      document.getElementById("qtlabel").style.display = "none"
      document.getElementById("qtlabel-01").style.display = "block"
      return false
    }
    else if (nm.match(spc)) {
      document.getElementById("qtlabel").style.display = "none"
      document.getElementById("qtlabel-01").style.display = "none"
      document.getElementById("qtlabel-02").style.display = "block"
      return false
    }
    else {
      document.getElementById("qtlabel").style.display = "none"
      document.getElementById("qtlabel-01").style.display = "none"
      document.getElementById("qtlabel-02").style.display = "none"
      return true

    }
  }
</script>