<body>
  <section class="content-main">
     <div class="content-header">
      <div>
        <div class="row">
          <div class="col-md-10">
            <h2 class="content-title card-title"> Coupons</h2>
          </div>
          <div class="col-md-2">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create
              Coupon</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title text-center">Create Coupon</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="card mb-4">
                      <div class="card-body">
                        <form method="POST" action="/admin/addCoupon" id="myForm">
                          <label for="couponName">Coupon Name:{{#if preExist}}
                            <p style="color:red">Coupon Already Exist!!!</p>
                            {{/if}}</label>
                          <input type="text" class="form-control" id="couponName" name="couponName">
                          <label for="discountAmount">Discount Amount </label>
                          <input type="number" class="form-control" id="discountAmount" name="discountAmount" required>
                          <br><br>
                          <label for="couponDescription">Description:</label>
                          <input type="text" class="form-control" id="couponDescription" name="couponDescription"
                            required>
                          <br><br>
                          <label for="expirationDate">Expiration Date:</label>
                          <input type="date" class="form-control" id="expirationDate" name="expirationDate" required>
                          <br><br>
                          <button class="btn btn-success" type="submit">Generate Coupon</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
      <p></p>
    </div>
    <p></p>
    </div>
    </div>
   
    <div class="card mb-4">
      <!-- card-header end// -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="ordersTable">
            <thead>
              <tr>
                <th scope="col">Coupon Name</th>
                <th scope="col">Discount Amount</th>
                <th scope="col">Coupon Description</th>
                <th scope="col">Expiry Date</th>
                <th scope="col" class="text-end">Options </th>
              </tr>
            </thead>
            <tbody>
              {{#each coupons}}
              <tr>
                <td>{{this.couponName}}</td>
                <td><b>{{this.discountAmount}}</b></td>
                <td>{{this.couponDescription}}</td>
                <td>{{this.expirationDate}}</td>
                <td>

                  <a href="/admin/editCoupons/{{this._id}}" class="btn btn-primary">Edit</a>
                    <button class="btn  btn-danger"
                    onclick="event.preventDefault(); deleteCoupon('{{this.couponName}}', '{{this._id}}')">
                    Delete</button>


                </td>

              </tr>
              {{/each}}

            </tbody>
          </table>
        </div> <!-- table-responsive //end -->
      </div> <!-- card-body end// -->
    </div> <!-- card end// -->
  </section> <!-- content-main end// -->
</body>
<script>

    function deleteCoupon(couponName, couponId) {
    swal({
      title: 'Are you sure?',
      text: `Do you want to disable the coupon ${couponName}?`,
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((result) => {
      if (result) {
        window.location.href = `/admin/deleteCoupons/${couponId}`;
      }
    });
  }
  function validateForm() {
    // Get the input values
    var couponName = document.getElementById("couponName").value;
    var discountAmount = document.getElementById("discountAmount").value;
    var couponDescription = document.getElementById("couponDescription").value;
    var expirationDate = document.getElementById("expirationDate").value;
    
    // Check if any of the inputs are empty
    if (couponName == "" || discountAmount == "" || couponDescription == "" || expirationDate == "") {
      alert("Please fill out all fields.");
      return false;
    }
    
    // Check if discount amount is greater than 0
    if (discountAmount <= 0) {
      alert("Discount amount must be greater than 0.");
      return false;
    }
    
    // Check if expiration date is in the future
    var today = new Date();
    var selectedDate = new Date(expirationDate);
    if (selectedDate <= today) {
      alert("Expiration date must be in the future.");
      return false;
    }
    
    // If all inputs are valid, submit the form
    return true;
  }
  
  // Attach the form validation function to the form's onsubmit event
  document.getElementById("myForm").onsubmit = function() {
    return validateForm();
  };
</script>
