<header class="main-header navbar">
  <div class="col-search">
    <form class="searchform">
      <div class="input-group">
        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
        <button class="btn btn-light bg" type="button">
          <i class="material-icons md-search"></i>
        </button>
      </div>
      {{!-- <datalist id="search_terms">
        <option value="Products"></option>
        <option value="New orders"></option>
        <option value="Apple iphone"></option>
        <option value="Ahmed Hassan"></option>
      </datalist> --}}
    </form>
  </div>
  <div class="col-nav">
    {{!-- <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
       <i class="material-icons md-apps"></i> 
    </button> --}}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link btn-icon" href="#">
          <li class="dropdown nav-item">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
          <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User" /></a>
        {{#if adminIn}}
        Super Admin
        {{else}}
        Account
        {{/if}}
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
          <i class="fi-rs-angle-small-down"></i></a>


          <ul class="language-dropdown">
            {{#if adminIn}}<li>
              <a class="dropdown-item text-danger" href="/admin/logout"><i
                  class="material-icons md-exit_to_app"></i>Logout</a>

              {{else}}
            <li>
              <a href="/admin/login">Login</a>
            </li>
            {{/if}}
          </ul>
      </li>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-icon darkmode" href="#">
          <i class="material-icons md-nights_stay"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
      </li>
      <li class="dropdown nav-item">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i
            class="material-icons md-public"></i></a>


      {{!-- <li class="dropdown nav-item">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
          <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User" /></a>
        {{#if adminIn}}
        Super Admin
        {{else}}
        Account
        {{/if}}
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
          <i class="fi-rs-angle-small-down"></i></a>


          <ul class="language-dropdown">
            {{#if adminIn}}<li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/admin/logout"><i
                  class="material-icons md-exit_to_app"></i>Logout</a>

              {{else}}
            <li>
              <a href="/admin/login">Login</a>
            </li>
            {{/if}}
          </ul>
      </li> --}}


  {{!-- </div>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
    <a class="dropdown-item text-brand" href="#"><img src="/admin-assets/imgs/theme/flag-us.png"
        alt="English" />English</a>
    <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
    <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
    <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
  </div>
  </li>

  {{#if adminIn}}
  SuperAdmin


  <li class="dropdown nav-item">
    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
      <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User" /></a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
      <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>

    </div>
    {{else}}
    Account
    {{/if}}

  </li>
  </ul>
  </div> --}}
</header>