<body>
    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="container">
                            <div class="row">
                                <form>
                                    <div class="row">
                                        
                                        <div class="form-group col-md-4">
                                            <input type="text" placeholder="Search..." name="search"
                                                style="display:inline-block;">
                                        </div>
                                        <div class=" form-group col-md-2">
                                            <input type="submit" value="Search">
                                        </div>


                                    </div>



                                </form>

                            </div>
                        </div>




                        <div class="table-responsive">
                            <table>

                            </table>
                            {{!-- <div class="totall-product">
                                <p> We found <strong class="text-brand">688</strong> items for you!</p>
                            </div> --}}
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    {{!-- <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">Featured</a></li>
                                            <li><a href="#">Price: Low to High</a></li>
                                            <li><a href="#">Price: High to Low</a></li>
                                            <li><a href="#">Release Date</a></li>
                                            <li><a href="#">Avg. Rating</a></li>
                                        </ul>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            {{#each products}}
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6" id="products">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productDetails/{{this._id}}">
                                                <img class="default-img" src="/uploads/{{this.images.[0]}}" alt="">
                                                <img class="hover-img" src="/uploads/{{this.images.[1]}}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            {{!-- <a aria-label="Quick view" class="action-btn hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i></a> --}}
                                            <button aria-label="Add To Wishlist" class="action-btn hover-up"
                                                onclick="addToWishList('{{this._id}}')" href=""><i
                                                    class="fi-rs-heart"></i></button>
                                            {{!-- <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> --}}
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                        
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/productDetails/{{this._id}}">{{this.Category}}</a>
                                        </div>
                                        <h2><a href="/productDetails/{{this._id}}">{{this.Name}}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span></span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{this.Price}}</span>

                                        </div>
                                        <div class="product-action-1 show">
                                            <button aria-label="Add To Cart" onclick="addToCart('{{this._id}}')"
                                                class="action-btn hover-up" href=""><i
                                                    class="fi-rs-shopping-bag-add"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div>
                                    <div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories" id="category-filter">
                                {{#each categories}}
                                <li><a href="/product/{{this.CategoryName}}">{{this.CategoryName}}</a></li>
                                {{/each}}
                                <li><a href="/product">All</a></li>
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        {{!-- <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price"
                                                placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Color</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Red
                                                (56)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>Green
                                                (78)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Blue
                                                (54)</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">Item Condition</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>New
                                                (1506)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>Refurbished
                                                (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                            id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>Used
                                                (45)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i
                                    class="fi-rs-filter mr-5"></i> Fillter</a>
                        </div> --}}
                       

                    </div>
                </div>
            </div>

            </div>
             <div style=" margin-left:45%;">
            <nav aria-label="Page navigation example">
              <ul class="pagination">

                {{#for 1 8 1}}
                <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>

                {{/for}}
              </ul>
            </nav>

          </div>

            </div>



        </section>
    </main>
</body>
<script>
   


    function addToWishList(proId) {
        $.ajax({
            url: '/addToWishList/' + proId,
            method: 'get',
            success: (response) => {

                if (response.status) {
                    let count = $('#wishListCount').html()
                    count = parseInt(count) + 1

                    $("#wishListCount").html(count)
                    Swal.fire({
                        icon: 'success',
                        title: 'Added to Wish List',
                    })
                } else {

                    Swal.fire({
                        icon: 'warning',
                        title: 'Out of Stock',
                    }).then(() => {
                        location.reload();
                    });


                }

            }
        })
    }
</script>